[2015-09-08 19:32] glasser opened #4 "Buffered client does not respect UDP packet length limits"
UDP packets have a max length of ~64K, but the buffering logic in `statsd.NewBuffered` doesn't make any effort to keep single messages below this length.

[2015-10-15 10:03] phoet commented on #4
i guess we were running into this issue. or at least some other weird behavior of the buffered client resulting in a bazillion tags screwing up our metrics:

<img width="409" alt="screen shot 2015-10-15 at 12 02 47" src="https://cloud.githubusercontent.com/assets/48745/10510679/9dc6568e-7334-11e5-9d18-db4d5b9bcf6b.png">

our assumption is that the last message is truncated resulting in arbitrary t

[2015-10-15 10:04] phoet commented on #4
/cc @mat

[2015-10-15 13:34] glasser commented on #4
Yes, that is the symptom.

[2015-10-15 13:47] mat commented on #4
In our case, removing command buffering not only produces correct results but also improves throughput/load by roughly 2x. Also the Datadog/statsd daemon in this scenario seems to hold up fine, too.

https://github.com/mat/heroku-datadog-drain-go

[2015-12-30 21:33] sschepens commented on #4
If anyone's interested, i fixed this in pull request [7](https://github.com/DataDog/datadog-go/pull/7)

[2015-12-31 08:11] phoet commented on #4
:+1:

[2015-12-31 12:29] mat commented on #4
Nice, thanks!

[2015-12-31 16:22] sschepens commented on #4
Right now it makes the assumption that the network's MTU is 1500, that is not always true, it could be smaller or greater.
One solution would be to inspect all [Interfaces](https://golang.org/pkg/net/#Interfaces) and get the smaller MTU of all. Knowing which interface exactly a connection will be using I believe is much harder or impossible.
Another solution would be to allow users to specify thei

[2016-01-01 23:20] mat commented on #4
@sschepens I have a feeling the max payload size is too much dependent on the underlying network and such for it to be hardcoded. So while assuming an MTU of 1500 is a good idea I'd say it can't hurt to introduce an env variable for overriding, too.

Oh, and Happy New Year 🎉 :)

[2016-01-02 17:28] phoet commented on #4
from my understanding of TCP/IP the MTU should not matter as UDP packets that don't fit the MTU would be fragmented on the IP layer? this is also what [this stackoverflow question](http://stackoverflow.com/questions/3712151/udp-ip-fragmentation-and-mtu) indicates.

[2016-01-02 19:27] sschepens commented on #4
@phoet I thought so too. I tested with a size of 65507 metrics continued to get cut, maybe it's because IP headers can be greater than 20bytes, up to 60bytes, I haven't tested lowering the maximum size to fit with a 60byte header.
Another issue with big datagrams might be something that is actually [linked to](http://linux.derkeiler.com/Newsgroups/comp.os.linux.networking/2004-02/0873.html) in the

[2016-01-02 19:35] sschepens commented on #4
Also, the standard defines that a packet will not be fragmented if it's size is less than 576, this is great as it ensures this would work on every network, but it provides less performance for networks that support higher MTU

[2016-01-03 17:47] phoet commented on #4
i would love to get an experts comment on this, because my actual network protocol knowledge never made it past what i learned in university, but from what i "think" i understood is that

* MTU is discovered on IP level through path algorithms so there is minimal packet loss
* IP layer handles assembly/disassembly of datagrams into packets
* if a package is lost, the datagram is discarded
  * TCP

[2016-01-04 13:37] sschepens commented on #4
I think it works that way, except for

MTU is discovered but IP does a best effort to prevent packet loss and has nothing to do with MTU itself. Packet loss can happen on best networks too.
We could use maximum packet size minus 8 byte UDP header and 60 byte maximum IP header size, that would leave us with 65467 bytes for payload.
The only downside I see is that losing a single packet for that hug

[2016-02-12 22:14] signalsensefred opened #9 "DataDog build in master is broken"
go get github.com/DataDog/datadog-go/statsd produces the following error:

murmur/signalsd/src/github.com/DataDog/datadog-go/statsd/statsd.go:358: e.text undefined (type Event has no field or method text, but does have Text)

[2016-02-13 18:20] darron commented on #9
Here's the fix - just waiting for it to get merged:

https://github.com/DataDog/datadog-go/pull/10

[2016-02-16 18:40] jmoiron commented on #9
Fixed in #10, thanks!

[2016-02-16 18:40] #9 closed

[2016-03-18 01:15] vmogilev opened #13 "Namespace is ignored"
Please check why Namespace is being ignored on SimpleEvent() calls

[2016-03-20 15:19] aviau opened #14 "please tag and version this project"
Hello,

Can you please tag and version this project?

I am the Debian Maintainer for datadog-go and versioning would help Debian keep up with development.

[2016-03-28 16:43] truthbk commented on #14
@aviau we should definitely begin doing so. I will keep you posted, thanks, for bringing this up.

[2016-03-28 21:01] aviau commented on #14
Thanks! Please close this issue when you make the first tag so that I can notified :)

[2016-03-29 13:55] truthbk commented on #4
Issue addressed in #11 - we attempt to keep frames under the typical MTU size of 1500. If a command is >1500 we send it in its own frame and hope fragmentation won't result in the command being dropped (but no guarantees can be made due to the UDP transport). Finally, if a message is >64K it gets dropped for now. We can maybe truncate the event text in a future PR.

[2016-03-29 13:55] #4 closed

[2016-08-18 18:55] dsansotscea opened #18 "Buffered client not flushed on Close"
If a client is buffered, the buffer is not flushed when `Close` is called, leading to potential data loss.

[2016-08-22 16:16] truthbk commented on #14
@aviau released `1.0.0`. We will follow versioning/tagging guidelines from now on. Thanks @aviau.

[2016-08-22 16:17] #14 closed

[2016-08-22 22:45] varun06 commented on #18
It should be easy to do, just check and flush the buffer in client `Close`. I haven't looked at the code much though.

[2016-08-24 13:53] diasjorge commented on #13
The same happens now when sending a service check. As it happens with Events, they call directly sendMsg instead of using send function (which calls format before sendMsg)

[2016-08-24 13:53] diasjorge commented on #13
is this a bug or feature?

[2016-09-28 23:35] ejholmes opened #20 "Buffered client is inefficient"
I'm investigating some packet drops in dogstatsd, which are caused by a producer that generates a lot of packets, and uses `statsd.NewBuffered`.

Because this system generates a lot of statsd packets, we (naively) assumed that a buffered statsd client would take load off of dogstatsd. However, we noticed that packets would get dropped frequently, and would follow a step function:

![](http://i.img

[2016-09-29 14:54] ethanwp commented on #20
Naive question: what is the advantage of delivering stats over UDP vs TCP? Is the data rate particularly high and particularly time sensitive (say must be delivered with 100 milliseconds). Feel free to educate me over slack. thanks!

[2016-09-29 22:33] ejholmes commented on #20
In general, UDP performs better than TCP, since it's fire and forget, and drops are infrequent in a reliable network (e.g. over the loopback). Drops can still happen, like in the above scenario, but in general, it's better to drop than to lock up the application.

It's more that individual packets are not critical enough that they require an acknowledgement.

[2016-12-07 08:58] theckman opened #24 "bug: sendMsg function doesn't always validate length"
Hey there,

I was doing some reading of the codebase and I think stumbled upon a bug in the `sendMsg` method. Specifically, it seems that the length of the message is only checked if the client is in a buffered mode:

* https://github.com/DataDog/datadog-go/blob/426ff2e0daab1153de70993f85773d91302d50a0/statsd/statsd.go#L224-L228

Looking at it further, it seems the comment above the length check i

[2016-12-13 18:18] #24 closed

[2016-12-15 17:35] triggity opened #26 "http client"
can we get an client for the http interface  in addition to the statsd client. I'm happy to do it myself, as long as it's something we want

[2017-02-03 15:49] Jasrags opened #29 "Please tag 1.1.0 release"
Hello,

Could you guys please tag a 1.1.0 release? I am using glide and currently i have to bind my dep to a sha to pick up any new code. A 1.1.0 tag would help greatly! Thanks!

[2017-02-03 15:50] Jasrags commented on #29
@truthbk

[2017-02-27 07:01] ojongerius commented on #26
Is https://github.com/zorkian/go-datadog-api what you are after? Would be a shame to have duplication of effort.

Might be worth considering merging these projects too.

Thoughts?

[2017-04-27 13:25] Taik commented on #29
Would appreciate this as well.

[2017-04-27 17:00] truthbk commented on #29
@Jasrags @Taik by popular demand, 1.1.0 is now out! Sorry for the delay -- horrible response time.

[2017-04-27 17:00] #29 closed

[2017-08-28 02:36] konradreiche opened #38 "Commands seem to be only flushed when closing the client"
I couldn't verify this from the source code, but my writes with this StatsD client were only successful if I closed the client after writing and instantiating a new client when writing again. Is this how the API of this is supposed to work?

[2017-08-28 02:56] #38 closed

[2017-10-05 14:06] thomas91310 opened #41 "Is it possible to export eventAlertType? (also eventPriority)?"
I would like to have a generic function/method in my code to be able to send events to dogstatsd.
I would like to be able to provide to the callers of this function/method the choice of alerting/priority level they want to use.

Something like this:
[code]

Unfortunately, I cannot do this because `eventAlertType` is not an exported type. (For reference, @Jasrags mentions this too in this PR: https

[2017-10-18 09:02] masci commented on #41
Hi @thomas91310 thanks for reporting.
I think this is a good idea, do you want to open a PR with the fix? 😊

[2017-10-18 14:48] thomas91310 commented on #41
yes, sure!

[2018-01-04 10:33] iarief opened #44 "Long living client"
Hi, is it possible to call statsd.new only once and reuse that client for the whole application lifetime?

I seem to randomly run into sigsegv: segmentation violation panic on client.push after a few hour of running my application.

I'm using a singleton pattern with sync.once, if that helps

[2018-01-25 13:18] #18 closed

[2018-01-28 21:28] eliaslevy opened #48 "New release?"
The last release was last April.  Since then Unix Domain Socket support was added. Time for a new release?

[2018-01-29 10:55] masci commented on #48
Indeed, 2.0 is out now.

[2018-01-29 10:55] #48 closed

[2018-01-29 13:36] weichuliu opened #50 "Confusing tagging in README"
In the example code the tag is added like `c.Tags = append(c.Tags, "us-east-1a")` however if I understand correctly, this should be a pair.

I've checked the example in python library, and found the tag is `:` splitted string, making it a key and a value.

Is go-version library having special way setting tags or is it a typo?

[2018-02-16 04:32] ods94065 opened #51 "Public client methods do not work with nil client"
I can see that public `statsd.Client` methods are generally designed to be no-ops if the Client is nil. This has been a convenient way for us to disable Datadog e.g. for testing.

When coming back to this library after a while to double-check that this is indeed consistent and intended behavior, I noticed a test, `TestNilSafe`, that confirmed that this is intentional. However, I also discovered th

[2018-02-16 12:47] masci commented on #51
Fixed on `master` by #52

[2018-02-16 12:47] #51 closed

[2018-02-23 22:47] sathishavm commented on #50
it would be more like `region:us-east-1a`

[2018-03-05 11:55] masci commented on #50
Updated the README as per @sathishavm suggestion, closing.

[2018-03-05 11:55] #50 closed

[2018-03-05 17:51] AngerM opened #54 "Client doesn't reconnect if agent restarts"
We've been using datadog in a kubernetes environment. We have datadog agent running as a daemonset and the client in our go apps running inside kubes on the cluster. However if the agent restarts (due to a daemonset config change, upgrade, etc) we don't see any metrics flowing even after the agent comes back online. It would be great if the client could automatically attempt to reconnect in the ba

[2018-03-09 21:54] rajeshsindhu21 opened #55 "Bad line issue while adding tags."
Is there any workaround this issue? or am I doing something wrong here?

I am using test code as it is :

`c, err := statsd.New("127.0.0.1:8125")
		if err != nil {
			log.Fatal(err)
		}
		// Prefix every metric with the app name
		c.Namespace = "flubber."
		// Send the EC2 availability zone as a tag with every metric
		c.Tags = append(c.Tags, "us-east-1a")

		// Do some metrics!
		err = c.Gauge("r

[2018-03-22 00:36] rajeshsindhu21 commented on #55
Actually that wasn’t even the issue, basically, statsd agent I was using(https://anomaly.io/statsd-install-and-config/) is not able to understand `Tags` since tags area data dog feature.

[2018-03-22 00:36] #55 closed

[2018-04-03 20:35] Aceeri opened #57 "Nil clients should return an error"
Somewhat misleading to have something look like it works fine, but it is just an early return because the client is nil.

[2018-04-18 14:33] tjamet opened #58 "How to use Distributions?"
Hi,

I am trying to use the [distributions metric](https://godoc.org/github.com/DataDog/datadog-go/statsd#Client.Distribution) type, but this seems not to be documented in the DD statsD documentation https://docs.datadoghq.com/developers/dogstatsd/

I have tried, reading the [code](https://github.com/DataDog/datadog-go/blob/e67964b4021ad3a334e748e8811eb3cd6becbc6e/statsd/statsd_test.go#L38), to se

[2018-04-24 23:32] renak commented on #44
I'm new to statsd and I'm thinking of using this package for sending stats to Datadog. Is this an issue I should be concerned about? I was thinking of possibly writing a wrapper around this and passing the wrapper around to different parts of my project. Would I need to periodically refresh the client instance? Or is it expected that a new client instance should be created for each metric call?

[2018-04-30 14:44] truthbk commented on #54
@AngerM thank you for reporting this and apologies for the slow response. We will try to address this as soon as possible. That said, if this this is urgent to anybody and a PR cannot be submitted by the community at large, please let us know so we can prioritize accordingly.

[2018-05-01 06:10] Aceeri commented on #57
In client methods like `send` it does
[code]
Rather than returning something like `errors.New("client doesn't exist")`.

[2018-05-10 11:28] netanelrevah opened #59 "Is there an option to cancel the host resolving on the statsd creator"
Hi,

Is there an option to cancel the host resolving on the statsd creator?
My code running on docker while the agent running on another docker. So the container is not always run while the agent is already exists and we get an error that the lookup failed and "no such host".

In this case, is there any option to retry the resolving each time metric is send?

Tnx!

[2018-08-06 23:07] truthbk commented on #54
@AngerM this is pretty embarrassing. Sorry this fell through the cracks. We'll be looking into it this week. Sorry again.

[2018-08-07 00:51] truthbk commented on #54
@AngerM, Oh OK that's not the scenario I was expecting. Given that by definition (from the daemonset) there will be an agent running on every node in the cluster, one would a) expect the IP to not change b) given that UDP is stateless, the same socket we opened on the client should still be valid so long as the container is listening.

The one thing I believe is that if the IP does change for the

[2018-08-07 03:08] AngerM commented on #54
Awesome. I agree, but I think its an implementation detail of the golang udp dialer. It doesn't treat the connection as stateless, so if an error occurs (ie the datadog agent is down) you have to 'redial' before sending more packets.

[2018-08-07 10:17] truthbk commented on #54
@AngerM I don't think it's necessarily an implementation detail in the dialer. UDP is a fire and forget protocol. The only way to know if the other end is listening is by being aware of the ICMP error responses (provided they can get through firewalls, etc) when the UDP packets hit a host that has a closed port, or if the IP address is not reachable. There's no real way, other than that, to tell i

[2018-08-09 00:37] truthbk commented on #54
@AngerM any chance you can paste your daemonset configuration YAML here? Feel free to redact anything you're not comfortable sharing. Or if you'd rather not, would you like to share by email?

[2018-08-09 02:47] AngerM commented on #54
It's basically the one you guys provide in your setup example. just `xxx`d out a few things
[code]

[2018-08-09 11:50] truthbk commented on #54
Hi @AngerM I was able to get metrics flowing after a restart with no issues in a very similar scenario (I'm using the stock daemonset configuration). I wrote a dummy app that submits dogstatsd metrics (container available here: https://hub.docker.com/r/jfullaondo/dsd-sampler, code here: https://gist.github.com/truthbk/e91a567c3230da357f2836d54a2a1956). I did run this on `minikube`, but I wouldn't

[2018-08-11 00:57] aseemk commented on #58
My company is also very interested in this. We've found this documentation that mentions this is a beta feature for which you need to contact support FYI:

https://docs.datadoghq.com/graphing/metrics/distributions/

https://docs.datadoghq.com/developers/dogstatsd/data_types/#distributions

But we too would be interested in any more documentation. =) Thanks!

[2018-08-11 01:03] aseemk commented on #20
Any official recommendation from the Datadog team here? Thanks!

[2018-08-13 15:45] truthbk commented on #54
Great investigation here https://github.com/DataDog/dogstatsd-csharp-client/issues/64#issuecomment-409021831 from @brantburnett, as expected this is more of a networking environment change and iptables NAT behavior more than an issue with the actual clients.

[2018-08-20 06:30] truthbk commented on #54
@AngerM please take a look at https://github.com/DataDog/dogstatsd-csharp-client/issues/64 if you want some more details, and the ongoing discussion there. This is most probably an issue with K8s CNI and not with our clients. Essentially, there's a `conntrack` session being created that _"hijacks"_ the UDP packets that are expected at the dogstatsd `datadog-agent` container. We're still not 100% s

[2018-08-20 17:50] AngerM commented on #54
Read through that thread. Thanks!

[2018-08-20 17:50] #54 closed

[2018-08-24 21:59] client9 opened #64 "Make "statsdWriter" public"
Hello,

The API has a public function

[code]

but `statsdWriter` is a private type, so only the package and tests can use this function.    So, either make `NewWithWriter` private (rename to `newWithWriter`), or expose `statsdWriter`.

[code]

With the later, one would then write TCP writers, and even direct to datadog via HTTP API writers.

happy to whip up a PR as well, but I wanted to get thou

[2018-08-24 22:07] client9 commented on #64
I think I'm in error.  You can pass in a object that satisfies a private interface, but it's really odd.

[2018-09-13 21:17] markwaddle opened #66 "Event, SimpleEvent, ServiceCheck and SimpleServiceCheck should have tags parameter"
Similar to the other methods, it would be nice if the Event, SimpleEvent, ServiceCheck and SimpleServiceCheck methods also accepted a tags parameter. The current API feels inconsistent. And it makes it difficult to include event instance specific tags along with events.

[2018-10-25 14:03] bakins opened #67 "No way to change OptimalPayloadSize"
The comment says `This can be increased if your network has a greater MTU or you don't mind UDP
datagrams getting fragmented.` However, `OptimalPayloadSize` is a `const`.   This probably should have a way to change it per client.  I'm happy to do a PR if there is interest.

[2018-11-02 17:36] grosser opened #68 "add time measurement with a func callback"
`func Time(name, fn func())` that reports how long something took

... I can make a PR for it unless there is a reason this is not wanted @truthbk  ...

[2018-11-02 17:42] grosser opened #69 "document passing tags for simple metrics in the readme"

[2018-11-02 17:46] grosser opened #70 "document what "rate" should be in the readme"
"rate argument should normally be 1 or less than that, e.g. 0.1 if you want to only send every 10th call"
maybe even better call the argument `sampleRate`

[2018-11-14 18:32] seebs opened #71 "documentation for Count is unclear"
[code]

The relationship between `value` and `rate` is unspecified. Are they both used? How do they interact? If I'm just counting an event, usually I'm counting "total occurrences", not "times per second", because I'll compute times per second later.

Reading elsewhere suggests that "rate" should be a 0-1 value to control how often to actually send packets, so, a rate of "0.5" would indicate that

[2019-02-12 04:46] eliaslevy opened #80 "Use of rand.Float64() reduces parallelism"
The global default `math/rand` generator is protected by a mutex.  In a highly concurrent application making lots of calls to the DD library and making use of the `rate` parameter to the API sample metrics so as to not drop packets and overload the statsd server, the use of `rand.Float64` in `statsd.Client.send` can become a bottleneck.

Ideally, there would be an alternative API that allows the c

[2019-04-05 11:32] martin-sucha opened #83 "Commas in tag values are not escaped"
Tags are a slice of strings in the documentation, but datadog-go documentation does not mention valid values for tags. `datadog-go` removes newlines from tags, but does not remove/escape other invalid characters like comma (`,`). Comma in tag value will be interpreted as multiple tags since tags are comma-separated in the UDP datagrams.

The page at https://docs.datadoghq.com/developers/guide/what

[2019-04-08 11:30] mrVanboy commented on #83
FYI we implemented our custom sanitizers for tags which follows the best practices from DataDog documentation and I believe that we can create PR after maintainers of this repo confirm that sanitizers should be in this package.

[2019-04-11 15:45] arbll commented on #70
Hey @grosser,

Thanks for the suggestion. I agree this parameter can be confusing when using this library for the first time. #87 should improve that.

Arthur

[2019-04-11 17:51] arbll commented on #13
This is intended. For events I am not sure how it would make sense to have `my_prefix.This is my event title`. As for Service checks it's not as clear-cut but this is something consistent across all our clients.

[2019-04-11 17:51] #13 closed

[2019-04-11 17:57] arbll commented on #26
Hey there,

I'll close this one, feel free to re-open if you have any question.
Please use https://github.com/zorkian/go-datadog-api to interact with the Datadog http api.

[2019-04-11 17:57] #26 closed

[2019-04-11 18:10] arbll commented on #44
Hey there,

One instance can definitely be used for all your application and this library is commonly used that way. A singleton pattern would do the job.

@iarief do you have more details on your sigsegv ?

[2019-04-11 18:11] arbll commented on #59
Hey @netanelrevah,

This will be solved by https://github.com/DataDog/datadog-go/pull/61

cc @truthbk

[2019-04-11 18:13] arbll commented on #69
Hi @grosser,

I think this one will also get addressed in https://github.com/DataDog/datadog-go/pull/87.

[2019-04-11 18:21] arbll commented on #80
Hi @eliaslevy,

This looks like it would be a nice improvement. Having an alternative API would work but I am wondering if using a separate `math.rand.Rand` for each client instance and creating one client per goroutine wouldn't be cleaner.
WDYT ?

[2019-04-11 18:58] eliaslevy commented on #80
That would work.  Although it would require folks using the buffered client to reconfigure the timeout or buffer size value to the system to output roughly the same number of packets as when using a single global client.

I went a [somewhat different route](https://github.com/eliaslevy/datadog-go/commit/e3d7304c17a43da70c64e832d627ad4b196b05c6).  I used `sync.Pool` to get a per-CPU RNG.  The only

[2019-04-11 19:45] arbll commented on #71
Hi @seebs, thanks for opening this issue

This is correct, you will only send 50% of the packets. Going to add some docs surrounding this in https://github.com/DataDog/datadog-go/pull/87.
About the relationship between `value` and `rate` it works as the following:
- When a metric is sent with a specific sample rate we forward this information to the dogstatsd server: https://github.com/DataDog/dat

[2019-05-02 05:35] srizzling opened #88 "Feature Request: NoopClient"
The DataDog Java statsd client provides an interface for a NoopStatsD Client (https://github.com/DataDog/java-dogstatsd-client/blob/master/src/main/java/com/timgroup/statsd/NoOpStatsDClient.java)

This request, is requesting a similar interface to aid with testing. Having a `NoopClient`, will allow us to stub the client, when we are unit testing our buisness code, and or record statsd to ensure de

[2019-06-21 09:45] arbll commented on #44
Going to close this one, feel free to re-open if needed.

[2019-06-21 09:45] #44 closed

[2019-06-21 09:46] arbll commented on #41
Closing this one, feel free to re-open if you still need this.

[2019-06-21 09:46] #41 closed

[2019-10-15 15:48] #20 closed

[2019-10-15 15:48] #67 closed

[2019-10-22 13:18] rafaeljusto opened #97 "Missing WithAsyncUDS option?"
Hi, in the README.md the asynchronous mode is recommended, but I couldn't find the `WithAsyncUDS` option mentioned. Is it missing from the code?

From https://github.com/DataDog/datadog-go#blocking-vs-asynchronous-behavior:

If there're no plans to implement this option, it is safe to run a call in a goroutine if I don't care about the error?
[code]

Thanks!

[2019-10-22 13:57] arbll commented on #97
Hi @rafaeljusto,

The README was slightly outdated since https://github.com/DataDog/datadog-go/pull/91 got merged a few days ago. This option was dropped as it is now the default in v3.0.0.
The README should now be up to date with those changes. Sorry for the confusion!

[2019-10-22 16:12] rafaeljusto commented on #97
Thanks!

[2019-10-22 16:12] #97 closed

[2019-10-23 20:27] #88 closed

[2019-10-23 20:32] arbll commented on #64
Agreed it's a bit odd. If anyone has a use case that depends on this feel free to open a PR.
I'll close since this issue is pretty old and seems to be solved.

[2019-10-23 20:32] #64 closed

[2019-10-23 20:32] #69 closed

[2019-10-23 20:32] #70 closed

[2019-10-23 20:34] arbll commented on #70
Should be good after #87

[2019-10-23 20:35] arbll commented on #71
Closing this one, feel free to open another issue if you still have questions.

[2019-10-23 20:35] #71 closed

[2019-11-13 13:01] avlazarov opened #104 "Unix socket path is not extracted correctly"
According to the documentation, the way to pass a UDS path to statsd.New is by prefixing the string with `unix://`. However, an extra slash is passed down because of https://github.com/DataDog/datadog-go/blob/8bfdc335936a79b55b3e2c1080930bc5a3eb57f2/statsd/statsd.go#L220, e.g `unix:///var/run/datadog/dsd.socket` -> `//var/run/datadog/dsd.socket`

[2019-11-13 13:15] arbll commented on #104
Hey @avlazarov, indeed that does not look right.

It was part of the original implementation: https://github.com/DataDog/datadog-go/blob/9e6cdfed49057db82734fd6d137372972a36f3eb/statsd/statsd.go#L108
IIRC any number of consecutive `/` get collapsed into one on *nix, did this lead to an issue in your case?

Feel free to open a PR to fix it. I can also do it if you prefer, it should be a non-breakin

[2019-11-19 06:47] rerorero opened #105 "client.Flush() doesn't flush synchronously"
Hi.
I'm facing a strange behavior in Flush(). When I run the code below, it doesn't finish flushing then results in deadlock failure.
https://play.golang.org/p/90sBE2ed9dV
Can someone help?

[2019-11-20 12:23] arbll commented on #105
Hi @rerorero,
There was indeed a bug with custom writers that would lead to the majority of the metrics, fixing it in https://github.com/DataDog/datadog-go/pull/106.

Regarding your test
[code]
would never be true after the flush. This buffer represents the output of the client in your scenario so a flush should result in this buffer containing 3000 formatted metrics, not being empty.
That said, b

[2019-11-21 00:28] rerorero commented on #105
@arbll thank you for reply!  sorry, I had a mistake in the code. `buf.Len() == 0` is wrong.

But even after fixing my code, I still see an another strange things.

With [this code](https://play.golang.org/p/EFCVCs4mcrN) looks like Flush() doesn't flush synchronously. Is this expected?

I checked  #106 but it doesn't affect the code because I don't pass any options and [resolveOptions](https://gith

[2019-11-28 18:47] arbll commented on #104
@avlazarov bump on this, was it leading to any issues ?

[2019-11-28 18:48] arbll commented on #80
Once https://github.com/DataDog/datadog-go/pull/108 is merged I should be able to simply add a rand per "worker".

[2019-11-28 18:57] arbll commented on #58
Hey there,

For anyone landing here, the docs have been updated quite a bit since this issue was opened.
If you still have questions around distributions feel free to reach out to support@datadoghq.com.

Arthur

[2019-11-28 18:58] #58 closed

[2019-11-28 19:00] arbll commented on #68
Hi @grosser,

I don't see anything wrong with doing this apart from a probable performance hit. Feel free to open a PR if you are still interested.

Arthur

[2019-11-28 19:14] arbll commented on #105
@rerorero this library starts dropping metrics when it's inner queues are full. This might seem surprising but this is a requirement to ensure that the app making calls to this library won't ever be blocked for a long time.

The bug in #106 leads to extremely small queues (1 element) when you are using custom writers (not udp/uds) leading to metrics being dropped very easily.

This is most likely

[2019-11-28 19:19] arbll commented on #83
Hi there,

Feel free to open a PR, sanitizing the tags makes sense to me.

I am a bit worried about the potential performance hit, make sure to mesure it if you create one ;).

Arthur

[2019-11-29 05:42] avlazarov commented on #104
@arbll Not certain, I could not get the client work properly with a Unix socket at all. No issues with the Python or Ruby versions of the client. E.g this does not work

[code]

But this is fine

[code]

The Go version is fine when sending over UDP instead.

[2019-11-30 02:42] rerorero commented on #105
I see, thank you for kind explanation.

[2019-11-30 02:42] #105 closed

[2019-12-02 18:42] arbll commented on #104
@avlazarov Interesting. What does your env look like (OS, linux distro, containerized, ...) ? Trying to see if I can reproduce.

I any case I'll probably write a PR this week

[2019-12-05 06:28] omerlh opened #112 "Events not sent"
I'm trying to send events using the following code:
[code]
But for some reason, I don't see the event on Datadog, no relevant logs on the local agent or the statsd (which has no logs :(). Agent is running using the following docker command:
[code]

What am I missing?

[2019-12-05 08:49] arbll commented on #112
Hi @omerlh,

DogStatsD traffic is sent over UDP, I think you are missing a `/udp` suffix to your port mapping:
`docker run ... -p 8125:8125/udp datadog/agent:latest`.

If you still have issues after that I can help you dig deeper.

[2019-12-05 08:58] omerlh commented on #112
Hey @arbll, thank you for the quick response :)
Still not seeing it... Also not seeing any events received on the agent logs:

[code]

[2019-12-05 09:04] arbll commented on #112
Events won't show up in the logs, it would get too spammy ;).

Can you run `docker exec <container_id> agent status` and paste the output here ?

[2019-12-05 09:16] omerlh commented on #112
Yeah, sure:
I can see the aggregator has 3 events - which is the number of events I sent. But under Statsd section I don't see anything...

[code]

[2019-12-05 09:21] arbll commented on #112
There are some default events generated automatically (agent start, ...).
Can you stop the agent, listen on 8125 with netcat:
[code]
and try sending a few events ?

[2019-12-05 09:24] omerlh commented on #112
I don't see them... Is there a way to debug the SDK? I didn't notice any logger when inspecting the code

[2019-12-05 09:46] arbll commented on #112
Unfortunately, you can't set a logger right now, that's something I plan to add but have not made up my mind on how to do this properly since the relevant parts are executed asynchronously.
That said I have doubts it would help that much if the issue is like I suspect with the transport since UDP wouldn't report an error even if no one received the message.

One last easy thing I can think of, can

[2019-12-06 18:31] avlazarov commented on #104
@arbll The setup behind https://github.com/DataDog/datadog-go/issues/104#issuecomment-559666292 is a vanilla AWS EC2 Ubuntu server 18.04, running directly on the instance without docker or similar.

[2019-12-08 07:08] omerlh commented on #112
Now I can see data on this port:
[code]

My program does not exist, but it's running inside the reconcile loop of an operator (CoreOS Operator SDK). I also suspected this might be the issue so I added some sleep but it didn't helped...

[2019-12-09 21:26] jmacd commented on #83
I referenced this from an OpenTelemetry metrics SDK issue in which we are looking to address the same problem.  I started poking around hoping that DataDog had already set a convention for how to encode tag values with commas in them. @arbll the problem is that your agent will have to understand the convention that is used, so this issue can't be solved in the client alone.

How does DataDog inten

[2019-12-10 16:20] #104 closed

[2019-12-10 16:23] arbll commented on #104
@avlazarov The extraction logic should now be fixed! It will get included in the next release. |
If you still have issues setting up UDS after the new version is out, feel free to send an email at support@datadoghq.com referencing this issue.

[2019-12-10 16:27] arbll commented on #83
Hi @jmacd,
From the data I can gather it seems that commas are not supported at all in tags, even in the backend:

I think in this library it would make sense to sanitize by either removing commas or replacing them by underscores.

[2019-12-10 18:01] jmacd commented on #83
@arbll The document linked above, which I believe you are quoting from, describes **naming tags**, i.e., the valid set of characters permissible in a tag **name**.  Restricting tag names is fine. It does not mention a restriction on possible tag values.

Anyway, in as much as I am currently responsible for the OpenTelemetry metrics specification, I will not approve any such sanitization of tag val

[2019-12-10 19:33] jmacd commented on #83
Here is the specification I refer to: https://w3c.github.io/correlation-context/#value-format

[2019-12-13 15:34] CodyPubNub opened #114 "Telemetry added in PR #91 is unable to be disabled"
Hello,

This new code landed in [v3.0.0](https://github.com/DataDog/datadog-go/compare/v2.3.0...v3.0.0)

Telemetry was first introduced in this PR: https://github.com/DataDog/datadog-go/pull/91

This is the specific commit on the PR where the telemetry initially landed: https://github.com/DataDog/datadog-go/pull/91/commits/b4f4ba0cba37f1ed3ba960a598e443452b644712

These lines were ultimately added

[2019-12-16 11:13] arbll commented on #114
Hi @CodyPubNub,

Thanks for opening this issue, we indeed forgot to document the list of available metrics injected by this client. I am also adding an option to disable it if needed.

Sorry again for the misunderstanding about billing, those metrics were marked as non-billable since their introduction.

Cheers,
Arthur

[2019-12-16 13:10] bai commented on #83
Please correct if I'm wrong — from what I see, DataDog Agent doesn't have "tag name" and "tag value" distinction for metrics, those are parsed [0] directly into `[]string` [1], using `,` as separator, meaning it's always just a single string "tag" (e.g., a valid list of tags: `[]string{"foo:bar", "baz:hey", "foo"}`)

Note that according to statsd/dogstatsd spec, "tag names" are not unique, so as p

[2019-12-16 21:43] CodyPubNub commented on #114
Hi Arthur,

I appreciate the swift response to this. Looking forward to PR #117

Thanks,
Cody

[2020-01-06 10:25] #114 closed

[2020-01-07 19:09] spsoto opened #119 "Go Modules Support"
Currently there are no `go.mod` and `go.sum` files in the repo. `go mod` is currently adding `v<version>-incompatible` tags to `go.mod` files but they are prone to breaking whenever we `go get -u` the dependency in modules mode.

It'd be very helpful to have Go Modules support to make dependency management more deterministic.

[2020-01-29 19:01] dhermes opened #122 "statsd.Client.Close() should be invoked via `runtime.SetFinalizer()`"
If not, when a client goes out of scope, there are 3 `goroutines` leaked:

- [`watch`][1]
- [`telemetry`][2]
- [`sendLoop`][3]

[1]: https://github.com/DataDog/datadog-go/blob/aa3e05b5449fbfe21a490dadb9f7a974657c542d/statsd/statsd.go#L297
[2]: https://github.com/DataDog/datadog-go/blob/aa3e05b5449fbfe21a490dadb9f7a974657c542d/statsd/statsd.go#L302
[3]: https://github.com/DataDog/datadog-go/blob/aa

[2020-01-29 19:07] dhermes commented on #122
(FWIW I'm happy to do the work for this. Not sure if you're trying to support versions before `SetFinalizer` was added in `go1.5`.)

[2020-01-31 05:07] dhermes commented on #122
Thinking about this more, I actually am not sure this is anything you could do directly in this library. It'd be more on users to do this, e.g. if someone has a struct like:

[code]

then the finalize for new instances `c` of that struct could call `c.client.Close()`

[2020-01-31 05:45] #122 closed

[2020-02-06 00:13] danp60 opened #123 "Deadlock in statsd.Client.Close()"
I've encountered what I believe to be a deadlock in the `Close()` logic. When the main goroutine is closing, the mutex for the `Client` is acquired, we send a signal to all other goroutines to stop, then we wait for those goroutines to stop: https://github.com/DataDog/datadog-go/blob/master/statsd/statsd.go#L547-L555
[code]

However, in the `watch()` goroutine, its possible for the ticker to fire

[2020-02-10 16:59] mperham opened #125 "Invalid metric names not escaped"
Howdy, I'm using dogstatsd-go 3.3.0 and seeing this error:

[code]

(the env:production repetition is a separate issue)

Any idea why the API is sending metric lines that can't be parsed by the agent?  I would expect either an error or for this API to escape any illegal characters before sending over the network. I couldn't find any documentation in the README or linked that talks about allowed ch

[2020-02-10 18:40] mperham commented on #125
Ok, I found this link but I can't find where the client library performs this escaping for me.  Does it?

https://docs.datadoghq.com/developers/metrics/#naming-custom-metrics

I assume the issue is `BareStripe::WebhookReceiverWorker` in the name.  Since this form of metric name has been deprecated in my system, I'm just going to remove those metrics. I'll leave this open because the client API can

[2020-03-10 20:47] hush-hush commented on #123
This has been fixed in `3.4.1`

[2020-03-10 20:47] #123 closed

[2020-03-12 04:33] fcobb opened #138 "Closing client does not flush metrics"
Hello,

I am observing no metrics being sent after upgrading to version 3.4.1 from 2.3.0.

I wrote a simple test to reproduce this behaviour and I am using Wireshark to observe the traffic I send. I can see via Wireshark that on version 3.4.1. the metrics are not being sent, whereas they are on 2.3.0.

If on version 3.4.1 I add a `client.Flush()` (as commented out in the below test) the metrics ar

[2020-03-16 06:20] jared2501 commented on #123
Thank you!

[2020-03-25 17:16] jrefior opened #140 "How do I check whether Client has been closed?"
It appears to be necessary to call Close() on statsd Clients to clean up cpu/memory resources.

How do I check whether a Client has been closed, so I can get a new client if needed?

[2020-03-26 19:47] kiyor-cai-exa commented on #140
I'm getting the same issue. I integrated to a custom logger and use a huge amount of events with a lot of different logger instances. The MEM resource is not able to release. But the same logic with Write to WebSocket and file (same time) are all able to close when doing GC. it did not happen half years ago I think was about version less than v2.3.0 .

[2020-03-27 10:49] jrefior commented on #140
I implemented a wrapper type with `Close()` and `IsClosed() bool` methods and that seems to be working well so far.

[2020-04-01 13:29] jdoucy opened #142 "Runtime error on armv7"
Get this when trying to start the Tracer:

[code]

[2020-04-01 14:01] gbbr commented on #142
Transferred to this repository because the error seems to be coming from here...

[2020-04-01 14:11] jdoucy commented on #142
Thx for the transfer, the error spawn on a 32 bit system (armv7) certainly due to this kind of code:
`atomic.AddUint64(&c.metrics.TotalMetrics, 1)`

[2020-04-01 14:17] jdoucy commented on #142
So the exact line on my vendor folder is:
`atomic.AddUint64(&c.metrics.TotalMetrics, 1)`

[2020-04-02 12:26] mrwonko commented on #138
We noticed the same thing upon upgrading from 2.2.0 to 3.5.0. I don't think this is expected, since there's explicitly

[code]

in the `Close()` function.

[2020-04-06 13:53] nightlyone commented on #138
The sequence in https://github.com/DataDog/datadog-go/blob/f137255/statsd/sender.go#L113-L117
seems to be the culprit.

After the final flush the loop could still be active and the queue channel as well as the stop could both be ready and select will use a random one.

I would suggest doing something like this instead
[code]
which would stop the sender in all cases, reliable does the final flush a

[2020-04-20 20:55] hush-hush commented on #138
Hi @fcobb,

Thanks for reporting this issue. @nightlyone is right about the source of the bug. I opened a PR fixing the issue https://github.com/DataDog/datadog-go/pull/144 which should fix the issue.

[2020-04-20 21:24] hush-hush commented on #112
Hi @omerlh,

Taking over from arbll on this issue. Have you tried flushing the client before exiting the operator's loop ?

calling `client.Flush()` will force write all data to the wire.

[2020-04-21 17:08] hush-hush commented on #138
The PR #144 has been merged and will be included in the next release `v3.5.0` (most likely release this week).

Closing this issue but feel free to reopen it or a new one if needed

[2020-04-21 17:08] #138 closed

[2020-04-22 05:49] omerlh commented on #112
It's been a while and I kinda stopped working on this project :) If I ever get back to it, I'll try that - thanks!

[2020-04-27 19:01] jmacd opened #146 "OpenTelemetry support for DataDog metrics"
There are two libraries supporting DataDog in the OpenTelemetry-Go contrib repo:

https://github.com/open-telemetry/opentelemetry-go-contrib/pull/22
https://github.com/open-telemetry/opentelemetry-go-contrib/pull/10

We're willing to move these into a Datadog-owned repository, just let us know.

[2020-04-29 17:29] hush-hush commented on #125
Hi @mperham,

Yes the issue comes from the metric name. We do not escape metric name for performance reason. Vetting all metric name when sending over 200k metrics/s would increase the latency of the package greatly.

There are two main reasons why escaping is a performance concern:
- some customers submit metrics from hot paths. Increasing latency would have direct performance impact on their app

[2020-04-29 17:29] #125 closed

[2020-06-16 21:20] #142 closed

[2020-06-16 21:31] hush-hush commented on #142
Hi @jdoucy,

Thanks for opening this issue, #156 should to fix this. We also add ARM and 32 bit testing to catch similar issues in the futur. The patch should be released today.

[2020-07-08 09:06] fantyz opened #160 "ddtrace.Logger"
Hi,

How do I easily make a `ddtrace.Logger` for use with the `tracer.WithLogger` option? I can't seem to find anything to help me create one from even a standard log. Do I really need to create my own custom wrapper?

It seems like a strange design decision to make that interface into something that the standard log in go doesn't implement out of the box?

[2020-07-16 16:56] DouglasPuppioPereira commented on #112
Hi @hush-hush , I am facing the same issue with mine. Any possible solution?

[2020-08-07 11:21] AndersonQ opened #162 "Race condition when setting statsd.Client.Namespace as per doc example"
I run my application with `-race` and found out a race condition when setting the namespace as per [the docs](https://godoc.org/github.com/DataDog/datadog-go/statsd):

[code]

I wrote a wee snippet to reproduce the problem:

[code]

`go run -race main.go`<details><summary> output</summary>
<p>

[code]

</p>
</details>

Using `statsd.WithNamespace` instead of setting it latter on does not cause the

[2020-09-21 05:43] CAFxX opened #168 "Optimal UDP payload size for localhost"
Currently the ["optimal" payload size is set to 1432 for UDP](https://github.com/DataDog/datadog-go/blob/3255e6186e83fad1e447573c9fa03dd13c023394/statsd/statsd.go#L35-L41) even if both statsd client and agent are running on the same host.

Using an MTU of slightly less than 1500 is a pretty conservative approach, appropriate at best for sending UDP datagrams over the internet or heterogeneous netw

[2020-09-29 08:50] remeh commented on #168
Hey @CAFxX,
Thanks for the very interesting point-of-view and detailed issue. I will give a look into it and we also have benchmarks / scenarios here I'm interested to run this against.
You've addressed it but I'll carefully validate that it won't just trade RAM usage against throughput, which is something which is an issue in a lot of real-world scenarios. (but you're right that tweaking the `dog

[2020-11-17 16:05] KevinAnthony commented on #119
Is there any movement on this? this would be useful for a us as well

[2020-12-08 02:15] michaelgoodrx opened #177 "Please improve the experience when configuring an app with env vars"
12 factor apps use environment variables for configuration. This is also the approach you recommend for setting up Datadog in Kubernetes.

Even when we aren't using the Datadog Agent (eg. in dev environments and in local development), we would like to leave all the metrics sending code mostly unchanged. Since we aren't running the agent, `DD_AGENT_HOST` is left empty or unset. When we run `statsd.

[2020-12-23 20:19] matthewdale commented on #80
@arbll I opened a PR that uses a `*rand.Rand` per worker to avoid the `math/rand` package-global RNG lock. Please check it out here: https://github.com/DataDog/datadog-go/pull/178

[2021-01-11 13:57] arbll commented on #80
Hey - I no longer work on this repo
cc @hush-hush

[2021-01-28 14:14] hush-hush commented on #80
#178 was merged and release (see `v4.3.1`).

[2021-01-28 14:14] #80 closed

[2021-03-31 12:37] hush-hush commented on #177
Hi @michaelgoodrx,

Could you please tell me which version of the client you are using ? If you call `statsd.New("")` without setting
`DD_AGENT_HOST` an error is currently returned `No address passed and autodetection from environment failed`.

Thanks

[2021-03-31 12:41] hush-hush commented on #162
Hi @AndersonQ,

Right now, we updated the doc. We're currently planning a new major for the client where a lot of useless public field would become private (among other things) as you suggested.

There is no ETA right now for this but we're hopping for Q2.

[2021-03-31 12:44] hush-hush commented on #160
Hi @fantyz,

This is the Dogstatsd client repo for Go. Please open an issue on the [trace repo](https://github.com/DataDog/dd-trace-go) so the right team can answer the question.

Thanks

[2021-03-31 12:44] #160 closed

[2021-03-31 12:45] hush-hush commented on #112
OK, I'm going to close the issue for now. Feel free to reopen it if needed.

[2021-03-31 12:45] #112 closed

[2021-04-21 01:15] gyant commented on #119
This seriously needs go mod support. Any ETA on this?

[2021-05-05 11:33] hush-hush commented on #177
I'm going to close this, feel free to reopen if needed

[2021-05-05 11:33] #177 closed

[2021-05-11 00:35] maebeam opened #196 "Profiler doesn't stop cleanly if uploads are failing"
Calling `profiler.Stop()` if the profiler is unable to submit profiles hangs the shutdown process

[2021-05-28 11:51] cyberhck commented on #68
I'd love this, most of the time we're measuring time anyway, so having a utility function like this would help a lot :slightly_smiling_face:

any idea if that PR will be merged?

[2021-06-08 20:27] amiller-isp opened #200 "datadog.dogstatsd.* metrics have namespace prepended"
If I create a client with the `Namespace` set then all metrics will have this prefixed to the metric name. This includes the `datadog.dogstatsd.*` telemetry metrics as well as my application specific metrics. My assumption is that these "new" metrics will be considered custom (not free), as they have a different name. So I can either use the namespace feature or have custom (free) telemetry stats,

[2021-06-09 11:17] smitthakkar96 opened #201 "Add Env var called `DD_DOGSTATSD_SOCKET` to not conflict with `DD_APM_RECEIVER_SOCKET `"
Since the sockets are supported for both StatsD and APM setting DD_AGENT_HOST would break either DogStatd or APM as they both have different paths. As per the helm chart the socket paths are as followed `/var/run/datadog/apm.socket` and `/var/run/datadog/dsd.socket`.

[2021-06-17 09:10] jlourenc opened #203 "v4.8.0 release tagged as 4.8.0 instead of v4.8.0"
The tag for `v4.8.0` release is `4.8.0` (see: https://github.com/DataDog/datadog-go/releases/tag/4.8.0)
Looking at other tags and go conventions, it should be `v4.8.0`.

[2021-06-18 14:23] jlourenc commented on #203
This has now been resolved. Closing.

[2021-06-18 14:23] #203 closed

[2021-07-05 09:15] hush-hush commented on #200
Hi @amiller-isp,

Thanks for opening this issue ! We'll release a fix in the next few days.

[2021-07-05 09:18] hush-hush commented on #201
HI @smitthakkar96,

Thanks for opening this issue. I'll look into it and sync with the APM team. But adding a new env var sound like a good idea.

[2021-07-05 09:21] hush-hush commented on #196
Hi @maebeam,

I think you have the wrong repo. This one is dedicated to [DogStatsD](https://docs.datadoghq.com/developers/dogstatsd/?tab=hostagent). You might want to reopen you issue here https://github.com/DataDog/dd-trace-go.

I'm closing this issue, but feel free to reopen it if needed.

Thanks.

[2021-07-05 09:21] #196 closed

[2021-07-09 09:11] hush-hush commented on #200
Hi, this issue was fixed by https://github.com/DataDog/datadog-go/pull/205. It will be included in the next release.

I'm going to close the issue but feel free to reopen if needed.

Thanks

[2021-07-20 23:37] kshimada-calm opened #210 "Client doesn't reconnect if agent restarts"
It's a same issue as issue #54.  We upgraded datadog-go to the latest version v4.8.0+incompatible but we still are experiencing this issue.

When the target DD service gets restarted (and gets a new address) the client library continues to send the metrics blissfully (and without error) to the old ip address where there is no longer a UDP listener to accept them.

[2021-07-28 11:08] solodynamo-dhero opened #211 "Provide clarity on non-acceptable metric name formats"
datadog-agent image version:  datadog/cluster-agent:1.9.0
datadog-go version: v4.4.0

Issue:
metric name: `"db.cache.status:hit"`
usage: `s.datadogClient.Count("db.cache.status:hit", 1, nil, 1)`
Above will fail on runtime with error:
`
2021-07-28 09:22:25 UTC | CORE | ERROR | (pkg/dogstatsd/server.go:422 in errLog) | Dogstatsd: error parsing metric message '"db.cache.status:hit:1|c|#env:production

[2021-08-02 02:34] solodynamo-dhero commented on #211
Also, I came across this doc: https://docs.datadoghq.com/metrics/custom_metrics/#naming-custom-metrics

`:` is a non-alphanumeric character.

It does state that we should use only ASCII alphanumeric character

By document, we can have [Godoc](https://blog.golang.org/godoc) like ones so IntelliSense can expose such details.

[2021-08-03 14:20] sblumenthalAtBraze commented on #210
I also just noticed this behavior. We have the datadog agent deployed to each node in our kubernetes cluster as a daemonset, and when upgrades were made to the datadog agent, our applications were no longer sending statsd metrics to datadog. Restarting our applications fixed the problem, but is less than ideal.

[2021-08-09 22:37] afarbos opened #223 "Support of `DD_TAGS` environment variables"
Should this library support `DD_TAGS` like `dd-trace-go` do it [here](https://github.com/DataDog/dd-trace-go/blob/v1.32.0/ddtrace/tracer/option.go#L158) ?

This would avoid to use the [`WithTags`](https://pkg.go.dev/github.com/DataDog/datadog-go/statsd?utm_source=godoc#WithTags) and enable configuration from the environment.

[2021-08-12 16:36] cychoi-moloco commented on #210
👍🏼
I had the same issue that our service running on top of the GKE. Whenever making some changes of datadog through helm, the service couldn't reconnect to the agent without any error. I've already cut a support ticket to the datadog support team, they said, they couldn't see any issue too.

[2021-10-04 02:09] at-wat opened #231 "v5 is not importable from go mod enabled environment"
Importing github.com/DataDog/datadog-go v5.0.0 from other package causes an error like:
`go: github.com/DataDog/datadog-go/v5@v5.0.0: go.mod has non-.../v5 module path "github.com/DataDog/datadog-go" (and .../v5/go.mod does not exist) at revision v5.0.0`

Official document about module path: https://golang.org/ref/mod#module-path

The usual solution is to update the module path in `go.mod` from `m

[2021-10-04 08:58] anopheles commented on #231
See https://github.com/DataDog/datadog-go/pull/230 for a fix

[2021-10-04 16:22] hush-hush commented on #231
This was fixed by #230

[2021-10-04 16:22] #231 closed

[2021-10-05 10:19] hush-hush commented on #162
HI @AndersonQ,

The new major version was delayed more than we expected but it finally released. The `client.Namespace` has been removed in favor of `statsd.WithNamespace`.

See the CHANGELOG for all the breaking changed in the new `v5` version.

I'm closing this issue but feel free to reopen it if needed.

[2021-10-05 10:19] #162 closed

[2021-10-05 10:21] hush-hush commented on #119
HI @spsoto,

The new major version was delayed more than we expected but it's finally released. We've added go modules support.

See the CHANGELOG for all the breaking changed in the new `v5` version.

I'm closing this issue but feel free to reopen it if needed.

[2021-10-05 10:21] #119 closed

[2021-10-05 12:25] hush-hush commented on #210
Hi,

With UDP the agent restart should not be an issue. On k8s and agent restart should not change its IP. When doing an upgrade a new pod will be created with a new IP. You should use the node IP instead to solve this issue.

With UDP we have no way of knowing if the agent is still up on the other side.

How do you deploy your Agent ? Are you using UDP or UDS ?

[2021-10-05 14:42] hush-hush commented on #168
Closing following this comment https://github.com/DataDog/datadog-agent/pull/6470#issuecomment-763763740

Also all those values are configurable if needed.

Feel free to reopen if needed.

[2021-10-05 14:42] #168 closed

[2021-10-13 14:16] sblumenthalAtBraze commented on #210
Update here, we are indeed using UDP, and so it should just work.

It appears, in our case, that this is a similar issue to https://github.com/DataDog/dogstatsd-csharp-client/issues/64, which appears to be caused by https://github.com/kubernetes/kubernetes/issues/95258 (I was able to replicate the conntrack behavior to verify this was our issue)

Or, in other words, the issue is on our kubernetes

[2021-11-09 08:51] aexvir commented on #210
@hush-hush I developed a test service that is able to reproduce this issue over udp, but I don't experience data loss over uds

when I contacted gcp support they confirmed that the k8s upstream fix for the issue mentioned here should be available on gke versions after `1.21.4-gke.2300`, but when testing using gke `1.21.5-gke.1302` I'm still seeing the same issue with missing data over udp 😕

could

[2021-11-10 19:43] tangphillip commented on #177
I am also experiencing this. Please disable the datadog agent instead of panicking when no datadog address is set.

We're running
github.com/DataDog/datadog-go v3.6.0
gopkg.in/DataDog/dd-trace-go.v1 v1.25.0

[2021-11-10 19:43] tangphillip commented on #177
@hush-hush please reopen

[2021-11-29 13:47] hush-hush commented on #210
That's great to hear @aexvir, thanks for updating this issue.

I'm going to close it but feel free to reopen it or a new one if needed.

[2021-11-29 13:47] #210 closed

[2021-12-30 19:26] MichaelSnowden opened #248 "How do I check for errors sending packets?"
I see that send errors are stored in the sender.metrics field in a SenderMetrics struct, but I don't know how to access it. I was hoping the FlushTelemetryMetrics would provide something, but it doesn't seem to contain errors sending packets.

[2021-12-30 19:29] MichaelSnowden commented on #248
Basically, I see t hat they're recorded and sent to the server with this format: https://docs.datadoghq.com/developers/dogstatsd/high_throughput/?code-lang=go#client-side-telemetry

But how do I monitor them from within my Go app?

[2022-01-26 14:18] hush-hush commented on #248
Hi @MichaelSnowden,

The `GetTelemetry` method is there for this https://pkg.go.dev/github.com/DataDog/datadog-go/v5/statsd#Client.GetTelemetry.

It will return [this struct](https://pkg.go.dev/github.com/DataDog/datadog-go/v5/statsd#Telemetry), `TotalPayloadsDroppedWriter` or `TotalPayloadsDropped` should be what you are looking for.

[2022-02-04 23:27] mhratson opened #251 "how to: handling "statsd buffer is full" error?"
How do callers have to handle [statsd buffer is full](https://github.com/DataDog/datadog-go/blob/master/statsd/buffer.go#L11) error?

ATM a retry loop does the job, but I wonder if i'm missing anything since the error is private and presumably not supposed to bubble up all the way to the caller.

[code]
Thank!

[2022-02-07 14:06] hush-hush commented on #251
Hi @mhratson,

The client will buffer multiple messages into a "buffer" that is then sent to the Agent. That way we send multiple DSD metrics/events/service_checks at once to the Agent.
This error occurs when a buffer is full. The error is then catched which triggers a flush of the current buffer to the sender. The worker then pulls a new buffer from the internal buffer pool and adds the message t

[2022-02-07 23:36] mhratson commented on #251
Yeah, in which case user has to handle it and keeping it unexported doesn't help as there's no way to compare the error.

While it's not a big problem and caller can still compare error strings it's a fragile approach that I think still worth noting/improving.
As well as documenting thee limits in `ServiceCheck`
https://github.com/DataDog/datadog-go/blob/496987906cfdbe16b66fdf01bdacc618958e6ab4/st

[2022-02-09 13:05] hush-hush commented on #251
I opened a PR regarding the error wording: https://github.com/DataDog/datadog-go/pull/252

[2022-02-25 14:22] #251 closed

[2022-02-28 11:59] hush-hush commented on #248
Hi @MichaelSnowden,

I'm going to close this issue. Feel free to reopen it if needed.

[2022-02-28 11:59] #248 closed

[2022-05-23 13:10] Caroline-theotter opened #259 "mock folder isn't exported"
I get the last version of the datadog-go package but the mock folder isn't exported
<img width="313" alt="Screenshot 2022-05-23 at 11 16 42" src="https://user-images.githubusercontent.com/85490224/169825858-438c3d6d-840d-47cf-adad-bbf9d0d92e1a.png">

[2022-09-29 03:53] guidao opened #263 "Support udp reconnection"
For a "connected UDP socket", write will return an error when the udp port is unreachable, so it might be possible to perform a reconnection based on this error.

[code]
result:
[code]

This feature is useful when the dns changes

[2022-10-24 07:39] deadok22 opened #265 "Special characters used in the dogstatsd protocol are not escaped"
The [dogstatsd protocol's](https://docs.datadoghq.com/developers/dogstatsd/datagram_shell/?tab=metrics#dogstatsd-protocol-v12) special characters occurring in metric names and tags are not escaped.

The following characters in tag keys and values should be replaced: `|`, `,`, `#`, `\n`.
The following characters in metric names should be replaced: `|`, `:`, `\n`.

The java-dogstatsd-client library

[2022-11-03 17:25] ahaq0 opened #267 "statsd buffer heap running out of memory"
Hi,

Have a long running go routine to refresh a device auth token and was noticing a sharp increase in memory.

used pprof and idenitifed data dog's statsd buffer go keeping all the memory. More specifically, `statsd.nextStatsBuffer` have the max default size set for the buffer and initialize the buffer with the regular http client.

Tried forcing flush on statsd to no avail but the leak persists